/* Global Styles */

body{
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #17191e;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Header Section */

header .logo{
    position: relative;
    z-index: 2;
}

.header__inner{
    overflow: hidden;
    padding: 0 !important;
}

header nav{
    position: relative;
    z-index: 1;
    right: -110%;
    opacity: 0;
}

header nav.show{
    right: 0;
    opacity: 1;
    transition: 0.6s;
}

header .nav__link{
    text-decoration: none;
    color: #fff;
}

header .nav__link:hover{
    color: #ffda00;
    transition: 0.6s;
}

.bars{
    position: relative;
    z-index: 3;
    width: 50px;
    height: 50px;
    background: #ffda00;
    cursor: pointer;
}

.bars span{
    width: 17px;
    height: 2px;
    background: #17191e;
}

body .mobile__nav{
    display: none !important;
}

/* Hero Section */

.hero{
    position: relative;
    height: 1080px; 
    background-image: url('assets/images/edu-lauton-TyQ-0lPp6e4-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero__inner{
    width: 100%;
    height: 100%;
}

.hero__title{
    font-size: 176px;
    font-weight: 400;
    color: #ffda00;
    padding-top: 350px;
}

.hero__text{
    color: #fff;
}

.hero__inner .btn{
    border: 2px solid #ffda00;
    padding: 15px 66px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}

/* Quote Section */

.quote{
    height: 230px;
    background: #ffda00;
}

.quote__text{
    text-align: center;
}

/* Services Section */

.services__inner{
    padding: 118px 0;
}

.service__icon{
    width: 77px;
    height: 77px;
    background: #ffda00;
}

.service__title{
    font-size: 50px;
    font-weight: 400;
    color: #ffda00;
    text-transform: uppercase;
}

.services .btn{
    border: 2px solid #ffda00;
    padding: 15px 66px;
    border-radius: 25px;
    color: #17191e;
}

/* Awards Section */

.awards{
    background: #17191e;
}

.awards__inner{
    padding: 80px 0;
}

.award__number{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.award__text{
    color: #ffda00;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

/* Portfolio Section */

.portfolio__inner{
    padding: 118px 0;
}

.portfolio__title{
    font-size: 50px;
    font-weight: 400;
    color: #ffda00;
    text-transform: uppercase;
}

.portfolio .categories{
    margin: 100px 0;
}

.portfolio .categories button{
    border: 2px solid #ffda00;
    margin: 13px;
    border-radius: 0px;
    font-size: 20px;
}

.portfolio .categories button:hover{
    background: #ffda00;
    transition: 0.8s;
}

.portfolio .gallery{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "gallery-1 gallery-2 gallery-3"
    "gallery-1 gallery-row gallery-row"
    ". . .";
}

.portfolio .otherCat{
    display: flex !important;
}

.portfolio .otherCatWidth{
    width: 450px !important;
    height: 450px !important;
}

.portfolio .gallery__product{
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery-1 { 
    background-image: url(assets/images/design-1.jpg); 
    grid-area: gallery-1; 
    height: 900px !important; 
}
.gallery-2 { 
    background-image: url(assets/images/design-6.jpg); 
    grid-area: gallery-2;
    height: 450px;
}

.gallery-3 { 
    background-image: url(assets/images/design-2.jpg); 
    grid-area: gallery-3; 
    height: 450px;}

.gallery__title{
    font-size: 30px;
    font-weight: 400;
}

.gallery__text{
    font-size: 20px;
    color: #fff;
}

.gallery__row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "gallery-4 gallery-5 gallery-6"
    "gallery-4 gallery-5 gallery-6";
    grid-area: gallery-row;
}

.gallery__row .gallery__overlay{
    padding: 10px;
}

.gallery__row .gallery__overlay .gallery__title{
    font-size: 24px;
}

.gallery__row .gallery__overlay .gallery__text{
    font-size: 16px;
}

.gallery-4 { 
    background-image: url(assets/images/design-3.jpg); 
    grid-area: gallery-4; 
    height: 450px;
}
.gallery-5 { 
    background-image: url(assets/images/design-4.jpg); 
    grid-area: gallery-5; 
    height: 450px;
}
.gallery-6 { 
    background-image: url(assets/images/design-5.jpg); 
    grid-area: gallery-6; 
    height: 450px;
}

.gallery__overlay{
    background: #ffda00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 80px;
    height: 100%;
    opacity: 0;
    overflow: hidden;
}

.gallery__overlay:hover{
    opacity: 1;
    transition: 0.9s;
}

.portfolio .gallery .btn{
    border: 2px solid #fff;
    border-radius: 0px;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.portfolio .portfolio__btn{
    border: 2px solid #ffda00;
    border-radius: 35px;
    padding: 28px 100px;
    text-transform: uppercase;
    margin-top: 118px;
}

/* Clients Section */

.clients{
    padding: 118px 0;
    background: #17191e;
    display: flex;
    flex-direction: column;
}

.clients__title{
    font-size: 50px;
    font-weight: 400;
    color: #ffda00;
    text-transform: uppercase;
}

.clients__text{
    font-size: 20px;
    color: #fff;
}

.clients__logos{
    width: 100%;
    margin-top: 95px;
}

.swiper-slide{
    display: flex !important;
    justify-content: center !important;
}

.swiper-pagination{
    position: static !important;
    margin-top: 36px;
}

.swiper-pagination-bullet{
    margin: 0 8px;
    border-radius: 0 !important;
    background: #fff !important;
    opacity: 1 !important;
    width: 10px !important;
    height: 10px !important;
}

.swiper-pagination-bullet-active{
    background: #ffda00 !important;
}

/* Contact Section */

.contact{
    padding: 118px 0;
}

.contact__title{
    font-size: 50px;
    font-weight: 400;
    color: #ffda00;
    text-transform: uppercase;
}

.contact__text{
    font-size: 20px;
    color: #17191e;
}

.contact input, .contact textarea{
    border-radius: 0;
    border: 2px solid #000;
}

.contact input::placeholder, .contact textarea::placeholder{
    color: #000;
}

.contact input:focus, .contact textarea:focus{
    outline: none !important;
    box-shadow: none !important;
    border-color: #ffda00 !important;
}

.contact input{
    height: 52px;
}

.contact textarea{
    height: 182px;
    resize: none;
}

.contact .contact__btn{
    border: 2px solid #ffda00;
    border-radius: 35px;
    padding: 16px 140px;
    text-transform: uppercase;
    margin-top: 38px;
}

/* Info section */

.info{
    padding: 68px 0;
    background: #ffda00;
}

.info .box{
    width: 80px;
    height: 80px;
    background: #17191e;
}

.info .email{
    margin: 0 25px;
}

/* Footer section */

footer{
    background: #17191e;
    color: #fff;
}

.footer__inner{
    position: relative;
    padding: 68px 0;
}

.credit span{
    color: #ffda00;
}

footer .box{
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background: #ffda00;
    text-decoration: none;
    cursor: pointer;
}

footer .box i {
    color: #17191e;
}


@media screen and (max-width: 1125px){
    .gallery__overlay{
        padding: 10px;
    }
}

@media screen and (max-width: 1000px){
    .info .phone, .info .email, .info .address{
        flex-direction: column;
        margin: 0;
    }

    .info .box{
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 992px){

    .hero{
        height: 750px;
    }

    .hero__title{
        font-size: 120px;
        padding-top: 190px;
    }
}

@media screen and (max-width: 910px){ 
    .portfolio .otherCatWidth{
        width: auto !important;
        height: 450px !important;
    }
}

@media screen and (max-width: 780px){

    .nav{
        display: none !important;
    }

    body .mobile__nav{
        position: absolute;
        top: 0;
        right: -120%;
        height: 100%;
        width: 100%;
        background: #17191e;
        z-index: 1;
    }

    .mobile__nav.show{
        right: 0;
        opacity: 1;
        display: flex !important;
        transition: 0.6s;
    }

    .mobile__nav .nav__link{
        text-decoration: none;
        color: #fff;
        font-size: 22px;
        text-transform: uppercase;
    }

    .mobile__nav .nav__link:hover{
        color: #ffda00;
        transition: 0.6s;
    }

    .portfolio__inner .gallery{
        display: flex;
        flex-wrap: wrap;
        grid-template-areas: none;
    }

    .portfolio__inner .gallery-1{
        height: 450px !important;
    }
}

@media screen and (max-width: 768px){

    .hero{
        height: 750px;
    }

    .hero__title{
        font-size: 80px;
        padding-top: 190px;
    }
}

@media screen and (max-width: 520px){
    .portfolio__inner .gallery__row{
        display: flex;
        flex-wrap: wrap;
        grid-template-areas: none;
    }
}

@media screen and (max-width: 400px){
    .gallery__overlay{
        display: none !important;
    }
}