/* Global Styles */

body{
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #17191e;
}

/* Header Section */

.bars{
    width: 50px;
    height: 50px;
    background: #ffda00;
}

.bars span{
    width: 17px;
    height: 2px;
    background: #17191e;
}

/* Hero Section */

.hero{
    height: 1080px; 
    background: #17191e;
}

.hero__inner{
    width: 100%;
    height: 100%;
}

.hero__title{
    font-size: 176px;
    font-weight: 400;
    color: #ffda00;
    padding-top: 350px;
}

.hero__text{
    color: #fff;
}

.hero__inner .btn{
    border: 2px solid #ffda00;
    padding: 15px 66px;
    border-radius: 25px;
    color: #fff;
}

/* Quote Section */

.quote{
    height: 230px;
    background: #ffda00;
}

.quote__text{
    text-align: center;
}

/* Services Section */

.services__inner{
    padding: 118px 0;
}

.service__icon{
    width: 77px;
    height: 77px;
    background: #ffda00;
}

.service__title{
    font-size: 50px;
    font-weight: 400;
    color: #ffda00;
    text-transform: uppercase;
}

.services .btn{
    border: 2px solid #ffda00;
    padding: 15px 66px;
    border-radius: 25px;
    color: #17191e;
}

/* Awards Section */

.awards{
    background: #17191e;
}

.awards__inner{
    padding: 80px 0;
}

.award__number{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.award__text{
    color: #ffda00;
    font-size: 20px;
    text-transform: uppercase;
}

/* Portfolio Section */

.portfolio__inner{
    padding: 118px 0;
}

.portfolio__title{
    font-size: 50px;
    font-weight: 400;
    color: #ffda00;
    text-transform: uppercase;
}

.portfolio .categories{
    margin: 100px 0;
}

.portfolio .categories button{
    border: 2px solid #ffda00;
    margin: 0 13px;
    border-radius: 0px;
    font-size: 20px;
}

.portfolio .categories button:hover{
    background: #ffda00;
    transition: 0.8s;
}

.portfolio .gallery{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "gallery-1 gallery-2 gallery-3"
    "gallery-1 gallery-row gallery-row"
    ". . .";
}

.portfolio .otherCat{
    width: 100%;
    display: flex;
}

.portfolio .otherCatWidth{
    width: 450px !important;
    height: 450px !important;
}

.portfolio .gallery__product{
    height: 450px;
}

.gallery-1 { background: #17191e; grid-area: gallery-1; height: 900px !important; }
.gallery-2 { 
    background: #ffda00; 
    grid-area: gallery-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 80px;
    height: 450px;
 }
.gallery-3 { background: #17191e; grid-area: gallery-3; height: 450px;}

.gallery__title{
    font-size: 30px;
    font-weight: 400;
}

.gallery__text{
    font-size: 20px;
    color: #fff;
}

.gallery__row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "gallery-4 gallery-5 gallery-6"
    "gallery-4 gallery-5 gallery-6";
    grid-area: gallery-row;
}

.gallery-4 { background: #3c3b32;grid-area: gallery-4; height: 450px;}
.gallery-5 { background: #5d5c50; grid-area: gallery-5; height: 450px;}
.gallery-6 { background: #3c3b32; grid-area: gallery-6; height: 450px;}

.portfolio .gallery .btn{
    border: 2px solid #fff;
    border-radius: 0px;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.portfolio .portfolio__btn{
    border: 2px solid #ffda00;
    border-radius: 35px;
    padding: 28px 100px;
    text-transform: uppercase;
    margin-top: 118px;
}